* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Exo 2", sans-serif;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #a21caf;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 8rem 10%;
}

/* Header */
.header {
  position: fixed;
  background-color: var(--bg-color);
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.navbar {
  display: flex;
  width: 35vw;
  justify-content: space-between;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--main-color);
}

/* Home */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-img {
  position: relative;
}

.home-img img {
  width: 35vw;
}

.home-img-clip {
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-content h1 {
  font-size: 5.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.social-links a {
  margin: 3rem 1.5rem;
  color: var(--main-color);
  font-size: 6rem;
}

.social-links a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  background-clip: text;
  text-shadow: 0 0 1rem var(--main-color);
  transition: all 0.3s ease-in-out;
}

.home-span {
  color: var(--main-color);
  position: relative;
}

.front-span,
.back-span,
.full-span {
  position: absolute;
  color: transparent;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  background-clip: text;
  top: 0;
  left: 0;
}

.last-span {
  margin-left: 15rem;
  color: var(--text-color);
}

@keyframes anime-front {
  0% {
    width: 0%;
  }
  15% {
    width: 100%;
  }
  33% {
    width: 0%;
  }
}

@keyframes anime-back {
  33% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  66% {
    width: 0%;
  }
}

@keyframes anime-full {
  66% {
    width: 0%;
  }
  80% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.front-span {
  animation: anime-front 6s linear infinite;
}

.back-span {
  animation: anime-back 6s linear infinite;
}

.full-span {
  animation: anime-full 6s linear infinite;
}
